<!-- Top Navbar -->
<nav class="navbar navbar-expand navbar-light bg-white sticky-top border border-bottom">
  <ul class="nav navbar-nav mr-auto">
    <li class="nav-item">
      <a @click="onSideBarCollapseClick" class="icon-link nav-link" href="javascript:void(0);" title="Menüyü Aç/Kapa">
        <i aria-hidden="true" class="fa fa-bars"></i>
      </a>
    </li>
  </ul>
  <ul class="nav navbar-nav m-auto">
    <div class="navbar-brand text-muted collapse multi-collapse fade show">
      <span title="Sayfa Başlığı">Panel</span>
    </div>
  </ul>
  <ul class="nav navbar-nav ml-auto">
    <li class="nav-item dropdown">
      <a aria-expanded="false" aria-haspopup="true" class="icon-link nav-link position-relative dropdown-toggle"
        data-toggle="dropdown" href="javascript:void(0);" id="navbarDropdownMenuLink" role="button" title="Bildirimler">
        <i aria-hidden="true" class="far fa-bell"></i>
      </a>
      <div class="dropdown-menu animated fadeIn faster dropdown-menu-right notifications">
        <h6 class="dropdown-header">
          Bildirimler
          <a class="float-right" href="javascript:void(0);" title="Tümünü Temizle">
            <i aria-hidden="true" class="fa fa-align-right fa-xs"></i>
            <i aria-hidden="true" class="fas fa-broom"></i>
          </a>
        </h6>
        <a class="dropdown-item py-3 alert-primary" href="javascript:void(0);">
          <i aria-hidden="true" class="fa fa-check text-primary fa-fw"></i>
          Bu bir okunmamış bildirim.
        </a>
        <a class="dropdown-item py-3" href="javascript:void(0);">
          <i aria-hidden="true" class="fa fa-check text-primary fa-fw"></i>
          Bu bir okunmuş bildirim.
        </a>
        <a class="dropdown-item py-3" href="javascript:void(0);">
          <i aria-hidden="true" class="fa fa-check text-primary fa-fw"></i>
          Bu bir okunmuş bildirim.
        </a>
      </div>
    </li>

    <li class="nav-item dropdown">
      <a aria-expanded="false" aria-haspopup="true" class="icon-link nav-link dropdown-toggle text-capitalize"
        data-toggle="dropdown" href="javascript:void(0);" id="navbarDropdownMenuLink" title="Oturum">
        <i class="far fa-user fa-fw" aria-hidden="true"></i> {{ username }}
      </a>
      <div class="dropdown-menu dropdown-menu-right animated fadeIn faster notifications">
        <div class="px-2 py-2">
          <router-link to="panel/admins/admin" class="px-3">
            <img :src=" 'https://www.gravatar.com/avatar/' + md5(email.trim().toLocaleLowerCase()) + '/64'" width="32"
              class="rounded mr-2" alt="">
            <span class="text-muted" title="Full E Mail">{{ email }}</span>
            <a @click="logout" class="btn btn-link btn-sm text-danger d-inline-block float-right"
              href="javascript:void(0)" v-tooltip:top="'Çıkış Yap'">
              <i aria-hidden="true" class="fas fa-sign-out-alt fa-lg"></i>
            </a>
          </router-link>
          <hr>
          <ul class="nav flex-column p-0 m-0">
            <li class="nav-item">
              <a class="nav-link" href="#"><i class="fa fa-user-cog fa-fw" aria-hidden="true"></i> Hesabı Yönet</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-primary" href="#"><i class="fa fa-plus fa-fw" aria-hidden="true"></i> Yönetici
                Ekle</a>
            </li>
          </ul>
        </div>
      </div>
    </li>
  </ul>
</nav>